<h1>
	Show template
</h1>
<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<img src="<%=campground.image%>">
			<div class="caption"><h4><%= campground["name"]%></h4></div>
		</div>
</div>